{% extends '::base.html.twig' %}

{% block body %}  
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                {% block singlecontent %}
                {% endblock %}  

            </div>
        </div>
    </div>
{% endblock %}  
